table {
  width: 100%;
}

div.header-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;

  h3 {
    color: #0142db;
    font-size: 14px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}
