<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Documents for Review">
    <table
      mat-table
      [dataSource]="documentReviewDataSource"
      matSort
      matTableResponsive
      (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="document">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Document</th>
        <td mat-cell *matCellDef="let entry">{{ entry.document }}</td>
      </ng-container>

      <ng-container matColumnDef="reviewedBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Reviewed By</th>
        <td mat-cell *matCellDef="let entry">{{ entry.reviewedBy }}</td>
      </ng-container>

      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Comments</th>
        <td mat-cell *matCellDef="let entry">{{ entry.comments }}</td>
      </ng-container>

      <ng-container matColumnDef="bugs">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bugs</th>
        <td mat-cell *matCellDef="let entry">{{ entry.bugs }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="documentReviewColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: documentReviewColumns"
        (click)="openDocumentForReview()"
      ></tr>
    </table>
  </mat-tab>
  <mat-tab label="Reviewers">
    <table mat-table [dataSource]="reviewerDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let reviewer">{{ reviewer.name }}</td>
      </ng-container>

      <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef>Remove</th>
        <td mat-cell *matCellDef="let reviewer">
          <mat-icon aria-hidden="false" fontIcon="cancel"></mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="reviewerColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: reviewerColumns"></tr>
    </table>
  </mat-tab>
</mat-tab-group>
