<mat-dialog-content>
  <h2>Document Review Details</h2>

  <div *ngFor="let reviewer of reviewers" class="reviewer-box">
    <h3>{{ reviewer.name }}</h3>
    <h4
      class="status"
      [ngClass]="
        reviewer.status == 'Approved'
          ? 'approved'
          : reviewer.status == 'Rejected'
          ? 'rejected'
          : ''
      "
    >
      {{ reviewer.status }}
    </h4>
    <mat-form-field appearance="outline" *ngIf="reviewer.comment">
      <mat-label>Comment</mat-label>
      <textarea matInput [value]="reviewer.comment" readonly></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
